/* CSS Resets */
h1, p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Components */
body {
    background-image: url(images/bg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div {
    border: 10px solid blue;
}

.point {
    display: block;
    margin: 0 auto;
}

.container {
    margin: 100px auto;
    color: white;
    width: 200px;
}

.section {
    background-color: #925732;
    border-radius: 0 0 20px 20px;
    border-bottom: 10px solid #49260e;
}

.section::before {
    content: "";
    display: block;
    height: 50px;
    background-image: url(images/green.png);
}

.section h1 {
    font-family: 'DM Sans', sans-serif;
    overflow-wrap: break-word;
    padding: 5px 20px 0;
}

.section p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #d7c1b5;
    padding: 10px 20px 30px;
}