/* Reset */
body, h1, h2, p {
    margin: initial;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Layout */
.wrapper {
    width: 960px;
    margin: 0 auto;
}

.header-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents-inside {
    display: flex;
    justify-content: space-between;
}

/* Design */
body {
    background-color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ededed;
    color: #da672a;
    padding: 70px 0;
}

.header h1 {
    margin-left: 10px;
}

.contents {
    padding: 40px 0;
}

.grid {
    font-family: 'Carlito', sans-serif;
    background-color: #fff;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.grid-card-thumbnail {
    position: relative;
}

.grid-card-thumbnail img {
    vertical-align: top;
}

.grid-card-thumbnail h2 {
    position: absolute;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 0, 0, 0.92);
    width: fit-content;
    top: 75%;
}

.grid-card-description {
    color: #c5c5c5;
    font-size: 12px;
    min-height: 100px;
    padding: 20px;
}

.grid-card-hashtag {
    background-color: #ececec;
    padding: 20px;
}

.hashtag-item {
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.grid-hotdog h2, .grid-hotdog span {
    color: #da672a;
}

.grid-burger h2, .grid-burger span {
    color: #e29d35;
}

.grid-pizza h2, .grid-pizza span {
    color: #b9bc3f;
}

.hashtag-hotdog a {
    background-color: #da672a;
}

.hashtag-burger a {
    background-color: #e29d35;
}

.hashtag-pizza a {
    background-color: #b9bc3f;
}

.footer p {
    color: #868686;
    font-size: 12px;
    margin-left: 10px;
}