/* Resets */
body {
    margin: initial;
}

h1, h2, p {
    margin: initial;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: initial;
}

/* Commons */
.button {
    color: #666;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-indent: 3px;
    display: block;
    background-color: #eee;
    min-height: 30px;
    line-height: 30px;
}

.button+.button {
    margin-top: 7px;
}

.button_primary {
    background-color: #2793fb;
    color: #fff;
}

/* Components */
body {
    background-image: url(images/background.png);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 10px #ddd;

    width: 1600px;
    margin: 100px auto;
    display: flex;
}

.sidebar {
    background-image: url(images/sidebar-background.png);
    background-size: cover;
    position: relative;
    width: 270px;
    padding: 25px;
    flex-shrink: 0;
}

.sidebar-title {
    color: #ddd;
    font-size: 36px;
    margin: 10px 0 25px;
}

.sidebar-title span {
    position: relative;
    padding-bottom: 13px;
    overflow-wrap: break-word;
    line-height: 1.5;
}

.sidebar-title span::before {
    content: '';
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 12px;
    opacity: 0.7;
}

.sidebar-title::after {
    content: "";
    background-image: url(images/coffee-icon.png);
    background-size: cover;
    width: 88px;
    height: 80px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.sidebar-description {
    color: #666;
    font-size: 22px;
    margin-bottom: 30px;
}

.contents {
    background-color: #fff;
    color: #999;
    padding: 30px;
    flex-grow: 1;
    min-width: 0;
}

.section+.section {
    margin-top: 50px;
}

.section-title {
    display: flex;
    border-bottom: 10px solid #f0f0f0;
}

.section-title h2 {
    flex-grow: 1;
    font-size: 36px;
}

.section-anchor {
    margin: 16px 0 16px auto;
    background-color: #f0f0f0;
    padding: 5px 16px;
    border-radius: 30px;
}

.section-contents {
    margin: 20px 0 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.coffee {
    flex-basis: calc(16.6666666% - (20px * 5 / 6));
}

.coffee-cover {
    width: 100%;
}

.review {
    background-color: #f0f0f0;
    font-size: 18px;
    flex-basis: calc(33.333333% - (20px * 2 / 3));
    min-height: 340px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-description {
    line-height: 1.2;
    padding-bottom: 30px;
}

.review-author {
    color: #313131;
    text-align: right;
}