/* Reset */
body, h1, h2, h3, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Layouts */
.wrapper {
    box-shadow: inset 0 0 20px red;
    width: 2048px;
    margin: 0 auto;
}

/* Components */
body {
    background-color: #000;
    color: #868686;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #111;
}

.header-inside {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    text-indent: -9999px;
}

.header-description {
    flex-grow: 1;
}

.header-description::before {
    content: "";
    display: inline-block;
    width: 100px;
    margin: 0 30px 0 50px;
    border: 1px solid;
    vertical-align: middle;
}

.header-point {
    margin-top: auto;
}

.contents {
    margin: 50px auto;
    display: flex;
    gap: 50px;
}

.sidebar {
    width: 400px;
    flex-shrink: 0;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin: 10px;
}

.sidebar-title::before {
    content: ' ';
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(images/icon.png);
    background-size: cover;
}

.category {
    background-color: #111;
    padding-bottom: 20px;
}

.category-title {
    color: #ec7b71;
    border-top: 1px solid;
    margin-top: 5px;
    padding: 15px;
}

.category-list {
    margin-left: 30px;
}

.category-list li {
    padding: 5px 0;
    margin: 5px 0;
    border-bottom: 1px solid;
}

.category-list li:last-child {
    border-bottom: 0;
}

.cards-wrapper {
    box-shadow: inset 0 0 20px blue;
    flex-grow: 1;
    width: 1648px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    background-color: #202020;
    width: 510px;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 10px;
}

.card-cover {
    width: 100%;
}

.card-contents {
    margin: 30px;
}

.card-title {
    font-size: 22px;
    color: #b88c94;
}

.card-description {
    font-size: 21px;
    line-height: 1.6;
    margin: 20px 0;
}

.card-button {
    display: block;
    color: #b43317;
    font-weight: bold;
    text-align: center;
    text-indent: 5px;
    letter-spacing: 5px;
    background-color: #0f0f0f;
    margin: 20px;
    padding: 20px 0;
    border-radius: 10px;
}