/* Reset */
body {
    margin: 0;
}

h1, p {
    margin: 0;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Layouts */
.wrapper {
    width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

/* Commons */
.button-unit {
    padding: 20px 0;
}

.button {
    display: block;
    color: #4e73df;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #f8f9ff;
    max-width: 180px;
    padding: 7px 0;
    border: 1px solid #436cde;
    border-radius: 30px;
}

.button+.button {
    margin-top: 5px;
}

.button-primary {
    color: white;
    background-color: #436cde;
}

.subscription {
    color: #323232;
    font-size: 11px;
    text-align: left;
    width: 140px;
    padding: 20px;
    border: 1px solid #436cde;
    border-radius: 5px;
}

.subscription-title {
    font-size: 12px;
    font-weight: bold;
}

.subscription-description {
    padding: 15px 0 20px;
}

.subscription-list {
    border-bottom: 1px solid #eee;
}

.subscription-list+.subscription-list {
    margin-top: 5px;
}

.subscription-list:last-child {
    margin-bottom: 15px;
    border-bottom: 0;
}

.subscription-badge {
    background-color: #436cde;
    font-size: 10px;
    color: white;
    padding: 3px 6px;
    border-radius: 2px;
}

.menu {
    color: #9e9e9e;
    font-weight: bold;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid;
}

.menu li:hover {
    color: #446ddf;
}

/* Components */
body {
    background-image: url(images/cover.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #eee;
}

.sidebar {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.header-profile {
    width: 70px;
    border-radius: 50%;
}

.header-title {
    color: #323232;
    font-size: 18px;
    padding: 20px 0;
}

.header-description {
    color: #919191;
    font-size: 12px;
}

.header-link {
    color: #4fa3fc;
    font-size: 12px;
    text-decoration: underline;
    vertical-align: top;
}

.contents {
    margin-top: 110px;
    flex-grow: 1;
}

.grid {
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid img {
    width: 200px;
    border-radius: 10px;
}

/* Mediaquries */
@media (min-width: 1400px) {}

@media (max-width: 768px) {}