/* Resets */
body, p {
    margin: initial;
}

h1, h2 {
    margin: initial;
    font-weight: inherit;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Layouts */
.wrapper {
    box-shadow: 0 0 10px red;
    width: 800px;
    margin: 0 auto;
}

/* Components */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fda328;
}

.header {
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

.header-inside {
    background-image: url(images/container-bg.png);
    background-repeat: no-repeat;
    background-position: right 28px top 28px;
    background-size: contain;
    padding: 28px;
    border-width: 20px 20px 0 20px;
    border-style: solid;
}

.header-title {
    font-size: 18px;
    line-height: 0.8;
    letter-spacing: 6px;
    width: fit-content;
    margin-bottom: 35px;
    padding-bottom: 3px;
    border-bottom: 2px solid;
}

.header-title span {
    font-weight: bold;
}

.header-description {
    font-size: 10px;
    line-height: 1.6;
    margin-right: 200px;
}

.contents {
    background-color: #ddd;
    border-bottom: 2px solid #cdcdcd;
    padding: 20px 0;
}

.grid {
    font-size: 0;
}

.grid-card {
    background-color: white;
    display: inline-block;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: top;
    margin-right: 10px;
}

.grid-card:last-child {
    margin-right: 0;
}

.grid-card-thumbnail {
    width: 100%;
    border-bottom: 2px solid;
    vertical-align: top;
}

.grid-card-title {
    background-image: url(images/play.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding: 8px 30px 8px 8px;
}

.footer {
    font-size: 12px;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    color: #cdcdcd;
    text-align: center;
    padding: 10px 0;
}